*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: grey;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame{
  width: 450px;
  height: 450px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  width: 350px;
  height: 350px;
  background-color: white;
}

img{
  width: 25px;
  height: 25px;
  position: relative;
  top:-45px;
  left:90%;
}

input{
  padding: 8px;
}

input[type="text"], [type="password"] {
  width: 95%;
  margin-top: 4px;
  margin-bottom: 15px;
}

input[type="submit"] {
  color: white;
  background-color: black;
  border: none;
  margin-top: 30px;
  width:100px;
  border-radius: 20px;
}

a {
  float: right;
  text-decoration: none;
  color: black;
}
