<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Cocktails</title>
</head>
<body>
  <div class="wrapper">
    <h1>Cocktails</h1>
    <ul>
      <li><a href="/">ALL</a></li>
      <li><a href="/?alcohol=gin">GIN</a></li>
      <li><a href="/?alcohol=vodka">VODKA</a></li>
      <li><a href="/?alcohol=rum">RUM</a></li>
      <li><a href="/?alcohol=tequila">TEQUILA</a></li>
    </ul>
    <table>
      <thead>
        <tr><th>NAME</th><th>PRICE</th></tr>
      </thead>
        <tbody>
        
        </tbody>
    </table>
  </div>
</body>
</html>