<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <title>Cocktails</title>
</head>
<body>
  <div class="wrapper">
    <h1>Cocktails</h1>
    <ul>
      <li><a href="/">ALL</a></li>
      <li><a href="/?alcohol=gin">GIN</a></li>
      <li><a href="/?alcohol=vodka">VODKA</a></li>
      <li><a href="/?alcohol=rum">RUM</a></li>
      <li><a href="/?alcohol=tequila">TEQUILA</a></li>
    </ul>
    <table>
      <thead>
        <tr><th>NAME</th><th>PRICE</th></tr>
      </thead>
        <tbody>
          <% for(let i=0; i<cocktails.length; i++){ %>
              <% let nonAlcoholic = ''; %>
               <% if(cocktails[i].isAlcoholic === false){ nonAlcoholic = ' (non-alcoholic)'; } %>
            <tr><td><%= cocktails[i].name %><span><%= nonAlcoholic %></span><p><%= cocktails[i].contains %></p></td><td class="price"><%= cocktails[i].price %> Ft</td></tr>
          <% ;} %>
        </tbody>
    </table>
  </div>
</body>
</html>