body{
  margin: 0;
}

.wrapper{
  width: 50%;
  height: 700px;
  margin: auto;
}

header{
  height: 100px;
  width: 100%;
  background-color: aqua;
}

.mainFrame{
  display: flex;
  height: 100%;
  width: 100%;
}

.main{
  height: 100%;
}

.left{
  flex: 0 0 130px;
  background-color: orange;
  margin-right: 5px;
}

.center{
  flex-grow: 1;
  background-color: red;
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.box{
  width: 50px;
  height: 50px;
  margin: 30px;
  background-color: black;
}

.right{
  flex: 0 0 130px;
  background-color: purple;
  margin-left: 5px;
}

footer{
  height: 100px;
  width: 100%;
  background-color: blue;
}